/* import fonts here  */
/* import from google okay buddy*/
@import url('https://fonts.googleapis.com/css2?family=Arvo:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bitcount+Single:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap');

html,
body {
    /* // normals css  */
    margin: 0;
    padding: 0;
    font-family: 'Fjalla One', serif;
}

/* header decide garxau yeha  */

.navbar-brand {
    font-size: 2rem;

}

.nav-link {
    font-size: 1rem;
}

/* home */

/* particles layer fills the #home section */
#particles-js {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #ca0a4d;
}

#name {
    margin-top: 0;
    font-size: 4rem;
    color: #fff;
    font-weight: bold;
    text-align: center;
}

#tag-line {
    margin-top: 0;
    font-size: 4rem;
    color: #fff;
    text-align: center;
}

/* Ensure the particles canvas sits behind page content */
#home {
    width: 100%;
    position: relative;
    /* account for fixed navbar height (70px) so centering is correct */
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
}

/* #particles-js{
    z-index: 0;
    pointer-events: none;
} */

#home .container {
    position: relative;
    z-index: 2;
    text-align: center;
    padding: 1rem;
    max-width: 100%;
}

/* Mobile Responsive */
@media (max-width: 768px) {
    #home {
        min-height: calc(100vh - 60px);
        padding: 1rem;
    }

    #name {
        font-size: 2.5rem;
    }

    #tag-line {
        font-size: 1.5rem;
        margin-top: 1rem;
    }

    #home .container {
        padding: 1.5rem;
    }

    #learn-more {
        padding: 0.6rem 1rem;
        font-size: 0.9rem;
    }
}

@media (max-width: 480px) {
    #home {
        min-height: calc(100vh - 56px);
    }

    #name {
        font-size: 1.8rem;
    }

    #tag-line {
        font-size: 1rem;
    }

    #home .container {
        padding: 1rem;
    }

    #learn-more {
        padding: 0.5rem 0.8rem;
        font-size: 0.85rem;
        max-width: 100%;
    }
}

/* Account for fixed navbar overlap */
body {
    padding-top: 70px;
}


#learn-more {
    padding: .4rem 1rem;
    max-width: 13rem;
    margin: 0 auto;
    display: block;
    border: 2px solid #fff;
    border-radius: 1rem;
    color: #fff;
    text-decoration: none;
    text-align: center;
}

#learn-more:hover {
    text-decoration: underline;
}

/* resume */
#resume {
    width: 100%;
    height: auto;
    padding: 2rem 0;

}

#resume .card {
    margin-left: auto;
    margin-right: auto;
}

#resume .card img {
    height: 150px;
}

/*portfolio design */

#portfolio {
    width: 100%;
    height: auto;
    padding: 2rem 0;
}

#portfolio .grid {
    position: relative;
    width: 100%;
}
#portfolio   img {
    margin-top: 30px;
    width: 100%;
    height: 220;
}

#portfolio .grid .overlay {
    position: absolute; 
    top: 30px; 
    margin-top: 30px;
    top: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    /*tricks for dopacity */
    opacity: 0;
    transition: .5s ease;
    background: #527cec;
}

#portfolio .grid:hover .overlay{
    opacity: 1;
}

.text{
    color: #fff;
    font-size: 1.7rem;
    position: absolute;
    top:50%; 
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

#contact {

    width: 100%;
    height: auto;
    padding: 9rem 0;
}

#contact form {
    margin: 1rem;
    width: 100%;
}

#contact form input, 
#contact form textarea{
    background: #e8edfc;

}


#contact .submit-message {
    /* margin: 1rem; */
    background-color: #ca0a4d;
    color: #fff;
    font-weight: bold;
    border: none;
    padding: 1rem;
    border-radius: 0.5rem;
    cursor: pointer;
}


/* footer */

footer {
    width: 100%;
    height: auto;
    padding: 1rem;
    background-color: #e8edfc;
    color: #bf0202;
    text-align: center;
}


footer .back-to-top {
    display: block;
    color: #000000;
    text-decoration: none;
    font-weight: bold;
}

footer .back-to-top:hover {
    text-decoration: none;
    color: #527cec;
}


footer ul {
    text-align: right;
    list-style: none;
    padding-left: 0;
}

footer ul#social li {
    margin-left: 1rem;
    display: inline-block;
    /* margin: 0 10px; */
}

footer ul#social li a {
    color: #333;
    font-size: 2rem;
    text-decoration: none;
    /* text-align: right; */
}

footer ul#social li a:hover {
    text-decoration: none;
    color: #ec52ec;
}

footer 

footer p {
    color: #527cec;
    text-align: right;
}

#myid {
    text-decoration: none;
    color: #bf0202;
}

