/* import fonts here  */
/* import from google okay buddy*/
@import url('https://fonts.googleapis.com/css2?family=Arvo:ital,wght@0,400;0,700;1,400;1,700&display=swap');

/* common css */

html, body {
    /* // normals css  */
    margin: 0;
    padding: 0;
    font-family: 'Arvo', serif;
}

/* header decide garxau yeha  */

.navbar-brand{
    font-size: 3rem;
   
}

.nav-link{
    font-size: 1rem;
}

/* home */

/* particles layer fills the #home section */
#particles-js{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #1a0aca;
}

#name{
    margin-top: 0;
    font-size: 4rem;
    color: #fff;
    text-align: center;
}

#tag-line{
    margin-top: 0;
    font-size: 4rem;
    color: #fff;
    text-align: center;
}

/* Ensure the particles canvas sits behind page content */
#home{
    position: relative;
    /* account for fixed navbar height (70px) so centering is correct */
    min-height: calc(100vh - 70px);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
}

#particles-js{
    z-index: 0;
    pointer-events: none;
}

#home .container{
    position: relative;
    z-index: 2;
    text-align: center;
}

/* Account for fixed navbar overlap */
body {
    padding-top: 70px;
}


#learn-more {
    padding: .4rem 1rem;
    max-width: 13rem;
    margin: 0 auto; 
    display: block;
    border: 2px solid #fff;
    border-radius: 1 rem;
    color: #fff;
    text-decoration: none;
    /* text-decoration: none; */
    text-align: center;
}

#learn-more:hover {
text-decoration: underline;
}